
    <h1>About Funny Animals</h1>
    <small>{{date}}</small>
    <nav>
        | <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/faqs">FAQs</a> |
    </nav>
    <p>We just want to show the world how funny animals can be!<br>
    Created By: {{name}}</p>