    <h1>FAQs</h1>
    <small>{{date}}</small>
    <nav>
        | <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/faqs">FAQs</a> |
    </nav>
    <ol>
        <li>1. Were any animals harmed in the production of these photos? No.</li>
        <li>2. Why did you make this page? Because animals are funny.</li>
        <li>3. Why are animals funny? Visit the <a href="/index.html">home</a> page and take a look!</li>
    </ol>